name: Trigger on main

on:
  push:
    branches:
      - main

permissions:
  checks: write
  packages: write

jobs:
  test-source:
    name: Test source
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repos
        uses: actions/checkout@v4
      - name: Test source
        uses: ./.github/actions/test-source
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
  build-source:
    name: Build source
    runs-on: ubuntu-latest
    needs: test-source
    steps:
      - name: Checkout repos
        uses: actions/checkout@v4
      - name: Build source
        uses: ./.github/actions/build-source
        env:
          BUILD_VERSION: ${{vars.BUILD_VERSION}}
          PWSH_VERSION: ${{vars.PWSH_VERSION}}
          TELEMETRY_CONNECTION_STRING: ${{vars.TELEMETRY_CONNECTION_STRING}}
  deploy-to-github-packages:
    name: Deploy to GitHub Packages
    runs-on: ubuntu-latest
    needs: build-source
    steps:
      - name: Checkout repos
        uses: actions/checkout@v4
      - name: Deploy to GitHub Release
        uses: ./.github/actions/deploy-to-github-packages
        env:
          GITHUB_OWNER: ${{github.repository_owner}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          PWSH_VERSION: ${{vars.PWSH_VERSION}}
